/* Font-Family */

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    margin: 0;
}



/* Navbar style */

.nav-con {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    padding-top: 16px;
    /*  background-color: aqua; */
}

.nav-link {
    display: flex;
    list-style: none;
    gap: 2em;

}

.nav-link a {
    text-decoration: none;
    color: black;
}

.primary-btn:hover {
    background-color: #00d157;
    cursor: pointer;
}

.primary-btn {
    background-color: #469165;
    width: 144px;
    height: 40px;
    border: none;
    border-radius: 5px;
    color: aliceblue;
    font-weight: bold;
    margin-top: 8px;
}

/* Hero section */
.hero-sec {
    background-image: url;
    padding: 90px 120px 150px 120px;
    background: linear-gradient(to right,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0)),
        url(../assets/hero-bg.png);
    margin-top: 15px;
}

.hero-cont {
    text-align: center;
}

.hero-top-btn {
    width: 230px;
    height: 30px;
    border-radius: 20px;
    color: #30B868;
    border: none;
}

.hero-top-btn:hover {

    font-weight: 600;
    cursor: pointer;
}

.hero-head {
    font-size: 72px;
    font-weight: 700;
}

.hero-btn {
    padding-top: 20px;
    text-align: center;

}

.hero-dw-btn {
    width: 250px;
    height: 50px;
    background-color: #469165;
    border: none;
    border-radius: 4px;
    color: aliceblue;
    font-weight: bold;
    font-size: 14.5px;
    margin-right: 10px;
    padding-bottom: 10px;

}

.hero-dw-btn:hover {
    background-color: #00d157;
    cursor: pointer;
}

.hero-right-btn {
    width: 198px;
    height: 50px;
    border: 1px white solid;
    border-radius: 4px;
    background: none;
    color: aliceblue;

}

.left-btn {
    padding-left: 10px;
}

.hero-right-btn:hover {
    border: 2px red dotted;
    cursor: pointer;
    justify-content: space-between;
}



.arrow {
    position: relative;
    top: 5px;
}

/* Second Banner */
.sec-banner {
    margin-bottom: 50px;
    text-align: center;
    margin-top: 70px;
}

.sec-head {
    font-size: 48px;
}

.card {

    width: 90%;
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;
    margin-top: 44px;
    gap: 24px;
}

.cards {
    width: 270px;
    height: 270px;
    box-shadow: 3px 3px 3px 3px rgb(235, 234, 234);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.cards>p {
    color: #627382;
}

.card-img {
    background-color: #F95555;
    padding: 13px;
    border-radius: 50%;
}

.sec-card-head {
    font-size: 24px;
}

/* Third banner */
.third-banner {
    /* width: 90%; */
    display: flex;
    margin: 0 auto;
    gap: 60px;
    padding: 120px;
}

.third-sub {
    font-weight: 400;
    color: #469165;
}

.third-title {
    font-size: 48px;
}

.third-cont {
    width: 500px;
    justify-content: start;
}

.list-item {
    list-style: none;
}

/* challenge part */
.challenge-banner {
    background-color: #F7F6F2;
    width: 1280px;
    margin: 0 auto;
    border-radius: 12px;
    padding: 40px 0px;
    margin-bottom: 50px;
}

.last-cont {
    text-align: center;
    width: 700px;
    margin: 0 auto;
    line-height: 1;
}

.last-btn {
    width: 195px;
    height: 50px;
    background-color: #469165;
    border: none;
    border-radius: 4px;
    color: aliceblue;
    font-weight: bold;
    font-size: 14.5px;
    margin-right: 10px;
    padding-bottom: 10px;
    box-shadow: 0 0 10px 0 rgb(175, 175, 175);
}

.last-btn:hover {
    background-color: #00d157;
    cursor: pointer;
}

/* Footer style */
.footer-section {
    background-color: #001931;
    margin-top: 90px;
}

.contact {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    padding: 80px 0;
}

.social {
    color: #F7F6F2;
    padding-right: 60px;
}

.icons {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
}

.copy-rights {
    text-align: center;
    color: #F7F6F2;
    padding-bottom: 20px;
    padding-top: 10px;
}